In [3]:
import pandas as pd
import numpy as np
df = pd.read_csv('산업분류.csv',encoding='cp949')
df = df.drop(columns = ['시도명','시군구명','법정동명','행정동코드','법정동코드','지번주소','도로명주소','신우편번호','경도','위도'])
df=df.sort_values(by=['행정동명'], axis=0)
df

              상호명 상권업종대분류명   상권업종중분류명     상권업종소분류명   표준산업분류명 행정동명
6121       칠성골흑돼지       음식         한식       갈비/삼겹살   한식 음식점업  건입동
7953       골목정육식당       음식         한식       갈비/삼겹살   한식 음식점업  건입동
1565         들물갈비       음식         한식       갈비/삼겹살   한식 음식점업  건입동
16343         봉성장       숙박  모텔/여관/여인숙    모텔/여관/여인숙       여관업  건입동
8040   고집돌우럭제주공항점       음식     일식/수산물  수산물전문음식점-종합   한식 음식점업  건입동
...           ...      ...        ...          ...       ...  ...
17803      페이보리오리       음식         양식     정통양식/경양식  서양식 음식점업  효돈동
16088      일성수산횟집       음식     일식/수산물           횟집   한식 음식점업  효돈동
16482        청마식당       음식         한식    한식/백반/한정식   한식 음식점업  효돈동
10766   쇠소깍복순이네식당       음식         한식    한식/백반/한정식   한식 음식점업  효돈동
3128         새원갈비       음식         한식       갈비/삼겹살   한식 음식점업  효돈동

[18196 rows x 6 columns]

In [24]:
count = pd.DataFrame(df.groupby(['행정동명','상권업종대분류명']).size())
count

                 0
행정동명 상권업종대분류명
건입동  소매         26
     숙박         26
     음식        159
구좌읍  문화레저        1
     소매         65
...            ...
화북동  숙박          2
     음식        229
효돈동  소매         30
     숙박          7
     음식         91

[136 rows x 1 columns]

In [25]:
count.reset_index(drop=False, inplace=True)
count.rename(columns={0:'점포 수'}, inplace=True)
count

    행정동명 상권업종대분류명  점포 수
0    건입동       소매    26
1    건입동       숙박    26
2    건입동       음식   159
3    구좌읍     문화레저     1
4    구좌읍       소매    65
..   ...      ...   ...
131  화북동       숙박     2
132  화북동       음식   229
133  효돈동       소매    30
134  효돈동       숙박     7
135  효돈동       음식    91

[136 rows x 3 columns]

In [30]:
#각 지역마다 업종별 카운트 
count=count.sort_values(by=['행정동명','상권업종대분류명'])
count

    행정동명 상권업종대분류명  점포 수
0    건입동       소매    26
1    건입동       숙박    26
2    건입동       음식   159
3    구좌읍     문화레저     1
4    구좌읍       소매    65
..   ...      ...   ...
131  화북동       숙박     2
132  화북동       음식   229
133  효돈동       소매    30
134  효돈동       숙박     7
135  효돈동       음식    91

[136 rows x 3 columns]

In [11]:
jejudata19 = pd.read_csv('jejudata19.csv',encoding='cp949')
jejudata19 = jejudata19.drop(columns = ['년월', '시도명', '총 유동인구','데이터기준일자'])
jejudata19

      읍면동명                      업종명   이용자수       이용금액
0      남원읍               건강보조식품 소매업      8     472000
1      남원읍                  골프장 운영업   3667  608346185
2      남원읍              과실 및 채소 소매업   1525  135385807
3      남원읍        관광 민예품 및 선물용품 소매업    241    4915500
4      남원읍             그외 기타 종합 소매업     15   11905000
...    ...                      ...    ...        ...
14210  화북동              차량용 주유소 운영업  10959  700951208
14211  화북동                  체인화 편의점  18150  158835020
14212  화북동  피자, 햄버거, 샌드위치 및 유사 음식점업   2436   48855810
14213  화북동                  한식 음식점업  17626  670361636
14214  화북동            화장품 및 방향제 소매업    262   19415860

[14215 rows x 4 columns]

In [22]:
food=jejudata19[(jejudata19["업종명"]=="한식 음식점업")
    |(jejudata19["업종명"]=="중식 음식점업")
    |(jejudata19["업종명"]=="일식 음식점업")
    |(jejudata19["업종명"]=="서양식 음식점업")
    |(jejudata19["업종명"]=="비알콜 음료점업")
    |(jejudata19["업종명"]=="기타 외국식 음식점")
    |(jejudata19["업종명"]=="피자, 햄버거, 샌드위치 및 유사 음식점업")]

food_group=food.groupby(["읍면동명"],as_index=False).sum()
food_group["업종명"]="음식"
food_group

    읍면동명     이용자수         이용금액 업종명
0    건입동   265969  10241713311  음식
1    구좌읍   447485  14913255443  음식
2    남원읍   195633   8018719536  음식
3    노형동  1683874  62259327325  음식
4    대륜동   319039  10766246889  음식
5    대정읍   387009  16160133495  음식
6    대천동   253662   7763452365  음식
7    도두동   121244   7995125170  음식
8    동홍동   341585  12936133704  음식
9    봉개동    63636   1973217774  음식
10  삼도1동   155945   5315152673  음식
11  삼도2동   235646   9630707934  음식
12   삼양동   341958  10415464510  음식
13   서홍동   141570   4247202092  음식
14   성산읍   498418  21124443200  음식
15   송산동  1166453  46442492375  음식
16   아라동   925126  29228334363  음식
17   안덕면   389961  17437156423  음식
18   애월읍   779295  27625790107  음식
19    연동  1436390  64812675826  음식
20   영천동    82794   4094399458  음식
21   예래동   296492  15931114861  음식
22   오라동   311415  10617321084  음식
23   외도동   317892  10493142788  음식
24  용담1동    97527   5218747039  음식
25  용담2동   867557  23630308510  음식
26   우도면   121016   3358090724  음식
27  이도1동   182948   5969878419  음식
28  이도2동  1647091  54376564794  음식
29   이호동    60447   2869628867  음식
30  일도1동   227720   6157800415  음식
31  일도2동   555724  19218457275  음식
32   정방동   750942  29809504634  음식
33   조천읍   564517  21772785446  음식
34   중문동   329778  16097991716  음식
35   중앙동   750942  29809504634  음식
36   천지동   892512  34056706726  음식
37   추자면    12562    823879788  음식
38   표선면   232922  11450003400  음식
39   한경면   137624   5391205214  음식
40   한림읍   519215  19900977488  음식
41   화북동   298598   9245094365  음식
42   효돈동    84083   2681782488  음식

In [13]:
some=jejudata19[(jejudata19['업종명']=="과실 및 채소 소매업")
    |(jejudata19["업종명"]=="관광 민예품 및 선물용품 소매업")
   |(jejudata19["업종명"]=="수산물 소매업")
    |(jejudata19["업종명"]=="육류 소매업")
    |(jejudata19["업종명"]=="빵 및 과자류 소매업")]
            
some_group=some.groupby(["읍면동명"],as_index=False).sum()
#some_group = pd.merge(some_group, total, how='left', on='읍면동명')
some_group["업종명"]="소매업"
some_group

    읍면동명    이용자수         이용금액  업종명
0    건입동   43016   3257280423  소매업
1    구좌읍   21145   1261604624  소매업
2    남원읍   35635   2529152776  소매업
3    노형동  239110   8147168916  소매업
4    대륜동   44888   2517893066  소매업
5    대정읍   98420   3142177332  소매업
6    대천동   46354   1848466593  소매업
7    도두동   14150   1714064327  소매업
8    동홍동   56704   2662252811  소매업
9    봉개동   10536    855920553  소매업
10  삼도1동   30477   2285440569  소매업
11  삼도2동   19596   1087400162  소매업
12   삼양동   66225   3427571436  소매업
13   서홍동   12467    388902780  소매업
14   성산읍  102066   4255104297  소매업
15   송산동  335860  15489261448  소매업
16   아라동  124953   3833749382  소매업
17   안덕면   30741   1265710128  소매업
18   애월읍   75090   3103113694  소매업
19    연동  166569   5076470337  소매업
20   영천동   14091   1070352330  소매업
21   예래동   18742    843817073  소매업
22   오라동   34430   2480488238  소매업
23   외도동   55583   2735623539  소매업
24  용담1동   35480   2864844919  소매업
25  용담2동  231377   8838732591  소매업
26   우도면   18492    346477879  소매업
27  이도1동  147990   7907317170  소매업
28  이도2동  262356  10624680860  소매업
29   이호동    8661    564700009  소매업
30  일도1동  190388  10177685060  소매업
31  일도2동  127028   4505475385  소매업
32   정방동  266155  11818142507  소매업
33   조천읍   97606   3867895519  소매업
34   중문동   50987   2233422568  소매업
35   중앙동  266155  11818142507  소매업
36   천지동  278622  12207045287  소매업
37   추자면    2008    193601370  소매업
38   표선면   68610   6203582231  소매업
39   한경면   13540    747803241  소매업
40   한림읍   69941   4227439932  소매업
41   화북동   76724   3691963422  소매업
42   효돈동   20406    791512463  소매업

In [14]:
sleep=jejudata19[(jejudata19["업종명"]=="호텔업")
                |(jejudata19["업종명"]=="휴양콘도")
                |(jejudata19["업종명"]=="여관업")]

sleep_group=sleep.groupby(["읍면동명"],as_index=False).sum()
sleep_group["업종명"]="숙박업"
sleep_group

    읍면동명    이용자수         이용금액  업종명
0    건입동   19244   3021186198  숙박업
1    구좌읍    7307    486075860  숙박업
2    남원읍    5592    686348805  숙박업
3    노형동   16191   3283181817  숙박업
4    대륜동   18041   2911563415  숙박업
5    대정읍    7502    403459738  숙박업
6    대천동   15421   2201327226  숙박업
7    도두동    3698    888650184  숙박업
8    동홍동    1264     96081586  숙박업
9    봉개동     908     57467815  숙박업
10  삼도1동   11816   1416966198  숙박업
11  삼도2동   33790   8892444353  숙박업
12   삼양동    1235    165017212  숙박업
13   서홍동    2366    340347734  숙박업
14   성산읍   33535   2655277103  숙박업
15   송산동   54406   6949964649  숙박업
16   아라동    6726   1503657825  숙박업
17   안덕면   44562   1833852801  숙박업
18   애월읍   40709   4734422761  숙박업
19    연동  113609  26611999012  숙박업
20   영천동   17544   1954415806  숙박업
21   예래동   86633  35932357350  숙박업
22   오라동    3351    417766532  숙박업
23   외도동   14438   1162389360  숙박업
24  용담1동    2275    689467273  숙박업
25  용담2동    4838    668931383  숙박업
26   우도면    1765     69138450  숙박업
27  이도1동   17091   4411240130  숙박업
28  이도2동   14356   2678538529  숙박업
29   이호동    1838    475750163  숙박업
30  일도1동    3965    234818090  숙박업
31  일도2동    2842    209819900  숙박업
32   정방동   37251   4961156042  숙박업
33   조천읍   15423   2139127951  숙박업
34   중문동   26094   6049035956  숙박업
35   중앙동   37251   4961156042  숙박업
36   천지동   39617   5301503776  숙박업
37   추자면    1137    192603130  숙박업
38   표선면    4953    478412946  숙박업
39   한경면     546     52632390  숙박업
40   한림읍   19133   1750567538  숙박업
41   화북동       8      1660000  숙박업
42   효돈동     150     31457660  숙박업

In [15]:
activity=jejudata19[(jejudata19["업종명"]=="스포츠 및 레크레이션 용품 임대업")
                    |(jejudata19["업종명"]=="기타 수상오락 서비스업")]

activity_group=activity.groupby(["읍면동명"],as_index=False).sum()
activity_group["업종명"]="문화레저"
activity_group

    읍면동명    이용자수         이용금액   업종명
0    건입동    9161    542308361  문화레저
1    구좌읍    2281     89031215  문화레저
2    남원읍    2746    155702841  문화레저
3    노형동   10735   2606320823  문화레저
4    대륜동     135     30498100  문화레저
5    대정읍    7048    569516400  문화레저
6    대천동      86     49041800  문화레저
7    도두동    6041    247396100  문화레저
8    동홍동   11997   1184577770  문화레저
9    봉개동     278     12794000  문화레저
10  삼도1동    3354   1024119700  문화레저
11  삼도2동    2624    407756500  문화레저
12   삼양동    9272    391029524  문화레저
13   서홍동     101     68224250  문화레저
14   성산읍    1418     58928900  문화레저
15   송산동   50741   6542810089  문화레저
16   아라동    3695    510301990  문화레저
17   안덕면    2514    197631720  문화레저
18   애월읍    9712    354068311  문화레저
19    연동   54688   7785036915  문화레저
20   영천동    1172    233017160  문화레저
21   예래동    9087    792488490  문화레저
22   오라동    8249   1226632340  문화레저
23   외도동    2029     69386900  문화레저
24  용담1동    1785    510098401  문화레저
25  용담2동    2941    157973579  문화레저
26   우도면    5371    253160907  문화레저
27  이도1동    5251    741064418  문화레저
28  이도2동   19293   2767952686  문화레저
29   이호동    2242    119878712  문화레저
30  일도1동  102782  13462963374  문화레저
31  일도2동   10391    821267200  문화레저
32   정방동   38107   5244015319  문화레저
33   조천읍    9241    537721750  문화레저
34   중문동    5871    262736400  문화레저
35   중앙동   38107   5244015319  문화레저
36   천지동   38208   5312239569  문화레저
37   추자면     211     21361000  문화레저
38   표선면   11393    345527320  문화레저
39   한경면    1271     46862030  문화레저
40   한림읍    5064    280203800  문화레저
41   화북동    2819    217086020  문화레저
42   효돈동       1      9800000  문화레저

In [32]:
df_ = pd.concat([some_group,sleep_group,food_group, activity_group])
#df_ = df_.sort_values(by=['읍면동명'], axis=0)
df_ = df_.sort_values(by=['업종명','읍면동명'])
df_

   읍면동명    이용자수         이용금액   업종명
0   건입동    9161    542308361  문화레저
1   구좌읍    2281     89031215  문화레저
2   남원읍    2746    155702841  문화레저
3   노형동   10735   2606320823  문화레저
4   대륜동     135     30498100  문화레저
..  ...     ...          ...   ...
38  표선면  232922  11450003400    음식
39  한경면  137624   5391205214    음식
40  한림읍  519215  19900977488    음식
41  화북동  298598   9245094365    음식
42  효돈동   84083   2681782488    음식

[172 rows x 4 columns]